<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- The actual resolution of the NES is 256x240.
        Ideally, we draw in this size and scale appropriately.-->
    <title>Super Mario Bros</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ "/games/mario/css/game.css" | prepend: site.baseurl }}">

  </head>


  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <script type='text/javascript' > 
          var baseurl = "https://lovepili.gitlab.io/lovepili/games/mario/";
        </script>
        <script type="text/javascript" src="{{ "/games/mario/js/util.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/input.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/resources.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/sprite.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/entity.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/pipe.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/mushroom.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/fireflower.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/star.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/fireball.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/coin.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/bcoin.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/goomba.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/koopa.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/floor.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/block.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/rubble.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/prop.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/player.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/flag.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/levels/level.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/levels/11.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/levels/11tunnel.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/games/mario/js/game.js" | prepend: site.baseurl }}"></script>
        <!--
        <div class="info">
          <p class="controls">左右键移动, X键跳跃</p>
        </div>
        -->
        
        </div>
        
    </div>
    <p>左右键移动, X键跳跃。注意！目前画面切换会卡几下，请调小音量!仙猹也不知道是哪里的bug，维修中...</p>
  </body>

</html>
