<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <style>
      body            { background: #fdfdfd; }
      #tower          { position: relative; margin: 1em auto; width: 512px; height: 384px; border: 4px solid #111; }
      #hud            { position: absolute; bottom: 0em; width: 8em; background-color: red; opacity: 0.5; border: 4px solid black; }
      #score          { color: yellow; font-size: 2em; font-family: 'Helvetica Neue', cursive }
      #canvas         { background: #111; display: inline-block; width: 100%; height: 100%; }
      #instructions   { font-style: italic; color: #111; font-size: 9pt; margin-left: 1em; margin-top: 0.5em; }
      #instructions b { color: #111; }
      @media screen and (min-width:     0px) and (min-height:    0px) { #tower { width:  512px; height: 384px; font-size:  7pt; } } /* block = 16 */
      @media screen and (min-width:   840px) and (min-height:  530px) { #tower { width:  640px; height: 480px; font-size:  9pt; } } /* block = 20 */
      @media screen and (min-width:   968px) and (min-height:  626px) { #tower { width:  768px; height: 576px; font-size: 11pt; } } /* block = 24 */
      @media screen and (min-width:  1096px) and (min-height:  722px) { #tower { width:  896px; height: 672px; font-size: 13pt; } } /* block = 28 */
      @media screen and (min-width:  1224px) and (min-height:  818px) { #tower { width: 1024px; height: 768px; font-size: 15pt; } } /* block = 32 */
    </style>

  </head>


  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="tower">

          <div id="hud">
            <table>
              <tr><td><img src="{{ "/games/javascript-tower-platformer/images/coin.png" | prepend: site.baseurl }}"></td><td><span id="score"></span></td></tr>
            </table>
          </div>

          <canvas id="canvas">
            <div class="unsupported">
              Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
            </div>
          </canvas>

          <div id="instructions">
            （并没有说剑子穷的意思！）左右键移动，空格跳跃。猜猜塔顶有什么？
            <span id="debug"></span>
          </div>

        </div>

        <script src="{{ "/games/javascript-tower-platformer/js/fpsmeter.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/games/javascript-tower-platformer/js/common.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/games/javascript-tower-platformer/js/tower.js" | prepend: site.baseurl }}"></script>
      </div>
    </div>

  </body>

</html>
