<!DOCTYPE html>
<html>

  <head>
    <title>Javascript Racer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head> 

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <ul>
          <li><a href="{{ "/games/javascript-racer/v1.straight.html" | prepend: site.baseurl | prepend: site.url }}">Version 1 - 没有弯道</a></li>
          <li><a href="{{ "/games/javascript-racer/v2.curves.html" | prepend: site.baseurl | prepend: site.url }}">Version 2 - 这个是弯道</a></li>
          <li><a href="{{ "/games/javascript-racer/v3.hills.html" | prepend: site.baseurl | prepend: site.url }}">Version 3 - 山</a></li>
          <li><a href="{{ "/games/javascript-racer/v4.final.html" | prepend: site.baseurl | prepend: site.url }}">Version 4 - 决赛(？</a></li>
        </ul>
      </div>
    </div>

  </body>

</html>
