<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
      
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
        
        <link href="{{ "/games/javascript-snakes/snakes.min.css" | prepend: site.baseurl }}" media="screen, print" rel="stylesheet" type="text/css" /> 
      </head>
      

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="snakes">

            <img src="{{ "/games/javascript-snakes/s.gif" | prepend: site.baseurl }}" class='watermark top'>
            <img src="{{ "/games/javascript-snakes/s.gif" | prepend: site.baseurl }}" class='watermark left'>
            <img src="{{ "/games/javascript-snakes/s.gif" | prepend: site.baseurl }}" class='watermark right'>
        
            <div id='sound' class='on' title='toggle music and fx' style='display:none;'></div>
        
            <div id="score">
              <span class="current"><span class='label'>得分: </span><span class="value">000000</span></span>
              <span class="high"><span class='label'>最高分: </span><span class="value">000000</span></span>
            </div>
        
            <canvas id="canvas">
              <div class='unsupported'>
                Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
              </div>
            </canvas>
        
            <div id="overlay">
        
              <img id="logo" src="{{ "/games/javascript-snakes/images/logo.png" | prepend: site.baseurl }}">
        
              <div id="loading" class='menu' style='display:none;'>
                <h1>加载中...</h1>
              </div>
        
              <div id="highscores" class='menu' style='display:none;'>
                <h1>高分</h1>
                <ul></ul>
              </div>
        
              <div id="credits" class='menu' style='display:none;'>
                <ul>
                  <li><span class='key'>     Modified by </span> <a class='value' target="_credits" href="https://gitlab.com/lovepili">剑子仙猹</a></li>
                  <li><span class='key'>        Pictures </span> <a class='value' target="_credits" href="https://weibo.com/u/5603296353">剑非猫</a></li>
                  <li><span class='key'>      Created by </span> <a class='value' target="_credits" href="http://codeincomplete.com/posts/2011/7/16/quest_for_indy_font/">Jake Gordon</a></li>
                  <li><span class='key'>           Fonts </span> <a class='value' target="_credits" href="http://www.dafont.com/sf-fedora.font">SF Fedora</a></li>
                  <li><span class='key'>       Watermark </span> <a class='value' target="_credits" href="http://www.istockphoto.com/file_closeup.php?id=4788598">VichanChairat</a></li>
                  <li><span class='key'>           Music </span> <a class='value' target="_credits" href="http://luckylionstudios.com/royalty-free-video-game-music-library/">Lucky Lion Studios</a></li>
                  <li><span class='key'>        Sound FX </span> <a class='value' target="_credits" href="http://www.premiumbeat.com/">Premium Beat</a></li>
                  <li><span class='key'>JS state machine </span> <a class='value' target="_credits" href="https://github.com/jakesgordon/javascript-state-machine">Jake Gordon</a></li>
                  <li><span class='key'>     JS selector </span> <a class='value' target="_credits" href="http://sizzlejs.com/">Sizzle</a></li>
                  <li><span class='key'>        JS audio </span> <a class='value' target="_credits" href="https://github.com/jakesgordon/javascript-audio-fx">Jake Gordon</a></li>
                  <li><span class='key'>    JS animation </span> <a class='value' target="_credits" href="http://berniesumption.com/software/animator/">Bernie Sumption</a></li>
                  <li><span class='key'>      JS counter </span> <a class='value' target="_credits" href="https://github.com/mrdoob/stats.js">Mr.Doob</a></li>
                </ul>
              </div>
            </div>
        
            <div id="help">
              ( 使用左右键控制方向，回车键确认，Esc退出 )
            </div>
        
          </div>
        
          <script src="{{ "/games/javascript-snakes/snakes.min.js" | prepend: site.baseurl }}"></script>
          <script>
          Game.ready(function() {
            game = Snakes();
          });
          </script>
      </div>
    </div>

  </body>

</html>
